# 2. 그리디 알고리즘

- 현재 상황에서 지금 당장 좋은 것만 고르는 방법
- 창의력 문제 테스트용으로 처리

# 2-1 잔돈을 처리하는 문제

- 큰 돈을 먼저 빼도록 처리
- 나머지를 다시 작은 잔돈으로 뺌

### 절차적  풀이

In [2]:
100 % 3, 100 // 3

(1, 33)

In [3]:
100/3

33.333333333333336

In [12]:
(100.).__truediv__(3)

33.333333333333336

In [11]:
(100.).__floordiv__(3)

33.0

In [6]:
(100).__mod__(3)

1

In [7]:
divmod(100,3)

(33, 1)

In [25]:
n = 1261

count = 0
coin_types = [ 500, 100, 50, 10]

for coin in coin_types :
    s = divmod(n, coin)
    print(s)
    count += s[0]
    n %= coin
print(count)

(2, 261)
(2, 61)
(1, 11)
(1, 1)
6

### 함수로 처리

- 입력으로 받을 값을 매개변수 처리
- 반환할 값은 함수 내부에 정의

In [30]:
coin_types = [ 500, 100, 50, 10]
def changes_(amount,coin_types) :
    d = {500:0, 100:0, 50:0, 10:0}
    for coin in coin_types :
        ss = divmod(amount, coin)
        print(ss)
        d[coin] += ss[0]
        amount %= coin
    total =0 
    for i in d.values() :
        total += i
    
    return d, total

In [31]:
changes_(1260,coin_types)

(2, 260)
(2, 60)
(1, 10)
(1, 0)

({500: 2, 100: 2, 50: 1, 10: 1}, 6)

### 클래스로 처리

- 속성으로 관리할 변수를 정의 
- 계산을 하는 것을 메소드로 변환
- 객체를 생성해서 메소드 호출 처리

In [83]:
{ coin : 0 for coin in [ 500, 100, 50, 10] }

{500: 0, 100: 0, 50: 0, 10: 0}

In [32]:
class Changes :
    def __init__(self,coin_types) :
        self.coin_types = coin_types
        self.changes = { coin : 0 for coin in self.coin_types }
        
    def changes_count(self,amount) :
    
        for coin in self.coin_types :
            s = divmod(amount, coin)
            self.changes[coin] += s[0]
            amount %= coin
    
        return self.changes

In [33]:
c = Changes([500,100,50,10])

In [34]:
c.__dict__

{'coin_types': [500, 100, 50, 10], 'changes': {500: 0, 100: 0, 50: 0, 10: 0}}

In [35]:
c.changes_count(1260)

{500: 2, 100: 2, 50: 1, 10: 1}

In [36]:
def add(self, y) :
    self.x += y

In [76]:
class ADD :
    def __init__(self, x) :
        self.x = x
    add = add

In [77]:
a = ADD(10)

In [78]:
a.__dict__

{'x': 10}

In [79]:
a.add(10)

In [80]:
a.__dict__

{'x': 20}

In [81]:
add(a,10)

In [82]:
a.__dict__

{'x': 30}

In [103]:
class CL :
    
    def mul(self, x,y) :
        return x * y
    @classmethod
    def add(cls, x,y) :
        return x +y
    
    @staticmethod
    def sub(x,y) :
        return x - y

In [104]:
CL.add(10,10)

20

In [105]:
cl = CL()

In [106]:
cl.add(10,10)

20

In [107]:
cl.sub(10,10)

0

In [108]:
CL.sub(10,10)

0

In [109]:
cl.mul(10,10)

100

In [111]:
CL.mul(cl,10,10)

100

## 2.2 map/ filter 함수 처리

- 시퀀스 객체의 원소를 변형할 때 사용하는 map 클래스
- 시퀀스 객체의 원소를 선택해서 추출할때 filter 함수 사용

### map 클래스

- 하나의 리스트를 만들고 내부의 원소를 제곱을 변경
- 첫번째 인자로 함수나 람다함수를 넣는다.(클래스도 가능)

### 람다함수 익명함수 람다함수 곧 함수 표현식

In [121]:
lam = lambda x : x + x

In [122]:
lam(5)

10

In [123]:
lam.__name__

'<lambda>'

In [8]:
map.__class__

type

In [114]:
l = [1,2,3,4,5]

In [115]:
ml = map(lambda x : x*x , l)

In [116]:
ml.__class__

map

In [117]:
def func(x) :
    return x*x

In [124]:
func.__name__

'func'

In [131]:
ml = map(func, l)

In [132]:
list(ml)

[1, 4, 9, 16, 25]

In [119]:
list(ml_)

[1, 4, 9, 16, 25]

In [126]:
[*[1,2,3,4]]

[1, 2, 3, 4]

In [125]:
[*map(lambda x : x*x , l)]

[1, 4, 9, 16, 25]

In [127]:
for i in map(lambda x : x*x , l) :
    print(i)

1
4
9
16
25

### 반복자로 처리할 때는 한번 객체가 소진되면 더 이상 처리가 안됨

In [133]:
[*ml]

[]

In [134]:
[*map(lambda x : x*x , l)]

[1, 4, 9, 16, 25]

In [136]:
from collections import abc

In [137]:
issubclass(map, abc.Iterable)

True

In [138]:
issubclass(map, abc.Iterator)

True

In [139]:
issubclass(map, abc.Generator)

False

### filter 

- 하나의 리스트를 만들고 내부의 원소를 일부 추출
- 필터링하는 함수의 결과는 불리언, 이중에 참인 결과만 선택됨

In [140]:
f = filter(lambda x : x <5, l)

In [144]:
type(filter)

type

In [141]:
f.__class__

filter

In [142]:
list(f)

[1, 2, 3, 4]

In [143]:
[*filter(lambda x : x <5, l)]

[1, 2, 3, 4]

### 반복자 클래스는 객체가 만들어지면 한번만 사용한다.

In [22]:
[*f]

[]

In [23]:
issubclass(filter, abc.Iterator)

True

In [24]:
issubclass(filter, abc.Generator)

False

### 리스트 컨프리헨션으로 map 함수를 대신할 수 있다.

- 리스트 컨프리헨션은 for(map)와 if(filter) 문을 사용해서 처리할 수 있다

In [25]:
cl = [x*x for x in l]

In [26]:
cl

[1, 4, 9, 16, 25]

In [27]:
cf = [x for x in l if x <5 ]

In [28]:
cf

[1, 2, 3, 4]

## 2.3 큰수의 법칙

- 배열의 크기, 더할 수 있는 범위, 반복되는 최대횟수

### 세 수를 입력받는다.

- input 함수로 받은 결과가 문자열이다. 
- 3개의 값을 각각 정수로 변환 ==> map 사용

In [145]:
input(" 키보드 입력을 받는다. ")

 키보드 입력을 받는다. 10 20

'10 20'

In [146]:
ss = input(" 키보드 입력을 받는다. ")

 키보드 입력을 받는다. 10 20

In [151]:
" ".join(ss.split())

'10 20'

In [152]:
n, m, k = map(int, input().split())

5 8 3

In [153]:
n, m, k

(5, 8, 3)

### 리스트로 여러 개의 숫자를 받는다.

In [154]:
data = list(map(int, input().split())) # 2 4 5 4 6

2 4 5 4 6

In [155]:
data

[2, 4, 5, 4, 6]

### 두 개의 큰수를 알아보기 위해 정렬을 한다.

In [172]:
sorted(data)

[2, 4, 4, 5, 6]

In [174]:
[*reversed(data)]

[6, 5, 4, 4, 2]

In [156]:
data.sort()

In [170]:
ll= [2, 4, 4, 5, 6]
ll.reverse()
print(ll)

[6, 5, 4, 4, 2]

In [171]:
ll[0], ll[1]

(6, 5)

In [157]:
data

[2, 4, 4, 5, 6]

### 가장 큰 수와 두번째 큰수를 추출

- 리스트의 인덱스가 0번부터 시작하므로 가장큰수는 n-1, 두번째 큰수는 n-2

In [160]:
data[n-1], data[n-2]

(6, 5)

In [161]:
data[-1], data[-2]

(6, 5)

In [35]:
first = data[n-1]

In [36]:
second = data[n-2]

In [37]:
first, second

(6, 5)

### 어러번 반복

-  큰수는 k번 더하고 
- 나머지

In [164]:
k*(divmod(m,k))[0]

6

In [162]:
range(k*(divmod(m,k))[0])

range(0, 6)

In [54]:
result = 0
mm = m 

for i in range(k*(divmod(m,k))[0]) : # 가장 큰수를 k 번 더하기 
    result += first
    mm -= 1
print('### first ', result, mm)
     
for i in range(mm) :
    result += second

print('### second', result)

### first  36 2
### second 46

In [55]:
result

46

In [165]:
int(m/(k + 1)) * k

6

### 숫자가 나올 수 있는 패턴으로 로직 변경

5 8 3
2 4 5 4 6

In [166]:
n, m, k = map(int, input().split())
data = list(map(int, input().split()))

data.sort()
first = data[n-1]
second = data[n-2]

count = int(m/(k + 1)) * k # 큰수가 나올 수 있는 비율 
count += m %(k+1)  


result = 0
result += (count) * first
print(result)
result += (m-count) * second
print(result)

print(result)

5 8 3
2 4 5 4 6
36
46
46

### 함수로 변환하기

In [41]:
def large_num(n,m,k, data) :
    data.sort()
    first = data[n-1]
    second = data[n-2]

    count = int(m/(k + 1)) * k # 큰수가 나올 수 있는 비율 
    #count += m %(k+1)  


    result = 0
    result += (count) * first
    result += (m-count) * second
    return result

In [42]:
large_num(5,8,3,[2,4,5,4,6])

46

In [191]:
%%writefile add.py
def add(x,y) :
    return x +y

print(__name__)

if __name__ =='__main__' :
    print(add(200,300))

Overwriting add.py

In [192]:
import add

In [193]:
add.add(100,200)

300

In [194]:
%run add.py

__main__
500

In [195]:
!python add.py

__main__
500

In [196]:
!ls

__pycache__
aaa.txt
add.py
알고리즘_0_파이썬 .ipynb
알고리즘_1_Hash.ipynb
알고리즘_2_Greedy_기초.ipynb
알고리즘_2_Greedy_심화.ipynb
알고리즘_3_정렬.ipynb
알고리즘_4_힙.ipynb
알고리즘_5_동적프로그래밍.ipynb
알고리즘_6_깊이너비우선탐색.ipynb
탐색.png
퀵정렬.png
버블정렬.png
삽입정렬.png
선택정렬.png

In [197]:
%ls

__pycache__/
aaa.txt
add.py
알고리즘_0_파이썬 .ipynb
알고리즘_1_Hash.ipynb
알고리즘_2_Greedy_기초.ipynb
알고리즘_2_Greedy_심화.ipynb
알고리즘_3_정렬.ipynb
알고리즘_4_힙.ipynb
알고리즘_5_동적프로그래밍.ipynb
알고리즘_6_깊이너비우선탐색.ipynb
탐색.png
퀵정렬.png
버블정렬.png
삽입정렬.png
선택정렬.png

In [198]:
def add(x,y) :
    return x+y

if __name__ == '__main__' :
    print(add(100,400))

500

In [199]:
add(300,500)

800

In [200]:
add(100,200)

300

In [203]:
# %load add.py
def add(x,y) :
    return x +y

print(__name__)

if __name__ =='__main__' :
    print(add(200,300))

__main__
500

In [211]:
변수_1 : int

In [213]:
globals()['변수_1']

KeyError: '변수_1'

In [214]:
globals()['변수_1'] = 100

In [215]:
globals()['변수_1']

100

In [216]:
변수_1

100

In [206]:
변수 : int = 10

In [207]:
변수

10

In [208]:
type(globals())

dict

In [209]:
d = {}

In [210]:
d['key'] = 'value'

In [ ]:
for .... {
    
    로컬 영역 / 로컬변수 관리 / 로컬 네임스페이스 관리
    
}

In [217]:
[ locals() for x in [1,2,3]]

[{'.0': <tuple_iterator at 0x7fd30c91cbd0>, 'x': 3},
 {'.0': <tuple_iterator at 0x7fd30c91cbd0>, 'x': 3},
 {'.0': <tuple_iterator at 0x7fd30c91cbd0>, 'x': 3}]

In [222]:
def func(x) :
    print(locals()['x'])

In [223]:
func(100)

100

In [224]:
l =[] 
for i in range(5) :
    l.append(i)

In [225]:
l

[0, 1, 2, 3, 4]

In [226]:
[i for i in range(5)]

[0, 1, 2, 3, 4]

In [ ]:
문장과 표현식

In [ ]:
표현식 == 수식

In [228]:
eval('100+200')

300

In [229]:
exec('pass')

In [230]:
eval('pass')

SyntaxError: unexpected EOF while parsing (<string>, line 1)

In [240]:
s = """
def add__(x,y) :
    return x+y
    
class ADD__ :
    pass
"""

In [241]:
exec(s)

In [235]:
add__(100,300)

400

In [242]:
ADD__

__main__.ADD__

In [237]:
globals()['add__'](300,400)

700

In [238]:
100+200

300

In [239]:
eval(input())

100+200

300